.ant-layout-header {
  background: #ffffff;
}

.ant-menu-horizontal {
  line-height: 62px;
}

.login-btn {
  position: absolute;
  right: 0;
  top: 12px;
}

.user-info {
  position: absolute;
  right: 0;
  top: 0;
}

.pull-right {
  float: right;
}
