.text-center {
  padding: 30px;
  display: block;
  text-align: center;
}

.home {
  .icon-aixin {
    color: #e12e2d;
    font-size: 32px;
    display: block;
    width: 32px;
    height: 32px;
    margin: auto;
  }
}

.duck {
  display: block;
  width: 120px;
  margin: 100px auto;
}

.icon-GitHub {
  margin-right: 10px;
}
